.footer {
  text-align: center;
  padding: 1.25rem;
  background: linear-gradient(90deg, #b85c5c, #d9a5a5);
  font-size: 0.875rem;
  color: #fff;
  font-weight: bold;
  width: 100%;
  z-index: 999;
  box-sizing: border-box;
}
