.titulo {
  text-align: center;
  margin: 0 2rem;
  padding: 2rem 1rem;
  background: linear-gradient(90deg, #b85c5c, #d9a5a5);
  color: #fff;
  border-radius: 0.5rem;
}

.titulo h1 {
  padding: 1rem 2rem;
  font-size: 3rem;
  margin-bottom: 1.25rem;
  overflow-wrap: break-word;
}

@media (max-width: 900px) {
  .titulo {
    margin: 0;
  }
  .titulo h1 {
    font-size: 2rem;
  }
}
@media (max-width: 600px) {
  .titulo h1 {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .titulo h1 {
    font-size: 1rem;
  }
}
