button#openSidebar.hamburger ☰
aside#sidebar.sidebarSection
  button#closeSidebar.toggleButton ×
  .sidebarContent
    img.logo(src="/images/logo_clinica.jpeg", alt="Logo")
    ul
      li
        a(href="/") Inicio
      li
        a(href="/medicos") Médicos
      li
        a(href="/pacientes") Pacientes
      li
        a(href="/turnos") Turnos
